alembic==1.11.1
arrow==1.2.3
binaryornot==0.4.4
certifi==2023.5.7
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
cmaes==0.9.1
colorlog==6.7.0
cookiecutter==2.1.1
Deprecated==1.2.14
greenlet==2.0.2
idna==3.4
Jinja2==3.1.2
jinja2-time==0.2.0
joblib==1.2.0
kaleido==0.2.1
Mako==1.2.4
MarkupSafe==2.1.3
numpy==1.24.3
oauthlib==3.2.2
optuna==3.2.0
packaging==23.1
pandas==2.0.2
patsy==0.5.3
plotly==5.15.0
python-dateutil==2.8.2
python-slugify==8.0.1
pytz==2023.3
PyYAML==6.0
requests==2.31.0
requests-oauthlib==1.3.1
scikit-base==0.4.6
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sktime==0.19.2
SQLAlchemy==2.0.17
statsmodels==0.14.0
tenacity==8.2.2
text-unidecode==1.3
threadpoolctl==3.1.0
tqdm==4.65.0
tweepy==4.9.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
wrapt==1.15.0
